.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    /* padding: 2rem 0;
    scroll-margin-top: 3rem; */
    padding: 5rem 0 2rem;
    background-color: whitesmoke;
}

.card {
    margin: 0.5rem;
    cursor: pointer;
}

.image {
    border-radius: 6px;
    box-shadow: 0px 2px 6px #97caef5d;
}

.view {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100vh;
    z-index: 999;
}

.close {
    font-size: 2rem;
    color: #97cbef;
    padding: 1rem;
    border-radius: 6px;
}

.close:hover {
    background-color: rgba(245, 245, 245, 0.5);
}

@media (prefers-color-scheme: dark) {

    .gallery {
        background-color: #222;
    }

    .close:hover {
        background-color: rgba(85, 85, 85, 0.5);
    }
}