.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    padding: 1rem 0;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    margin: 1rem;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0px 2px 6px #97caef5d;
}